/*Style 01*/

#woo-invoice-stylist-style1{
    background-color: #E1E1ED;
    width: 100%;
    print-color-adjust: exact;
}
#woo-invoice-stylist-style1 .header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#woo-invoice-stylist-style1 .header .identity{
    display: flex;
    padding: 0 1rem;
    color: white;
    position: relative;
    bottom: -10px;
}
#woo-invoice-stylist-style1 .header .invoice-id-and-date{
   text-align: center;
    width: 35%;
    margin-top: 2.5rem;
}
#woo-invoice-stylist-style1 .invoice-logo{
    display: block;
    width: 100px;
    border-radius: 100%;
}
#woo-invoice-stylist-style1 .invoice-store-info{
    padding: 0 1rem;
}
#woo-invoice-stylist-style1 .invoice-store-info .invoice-itle{
    margin: 0;
    color: white;
}
#woo-invoice-stylist-style1 .body{
    padding: 0 1rem ;
}
#woo-invoice-stylist-style1 .body .invoice-customer-name-and-phone{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    margin: 1rem 0;
}
#woo-invoice-stylist-style1 .body .invoice-customer-name-and-phone .customer-name{
    flex-basis: 50%;
}
#woo-invoice-stylist-style1 table{
    overflow: hidden;
    width: 100%;
    text-align: center!important;
    border: 1px solid black;
    border-radius: 1rem;
}
#woo-invoice-stylist-style1 table :where(td,th){
    padding: .5rem 0;
    text-align: center!important;
}
#woo-invoice-stylist-style1 table tbody td{
    background-color: #F5F5EB;
    border: 1px solid black;
}
#woo-invoice-stylist-style1 table tfoot td:last-of-type{
    background-color: #F5F5EB;
    border: 1px solid black;
}
#woo-invoice-stylist-style1 .footer{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#woo-invoice-stylist-style1 .footer :where(.store-signature,.user-signature){
    text-align: center;
    width: 100%;
}
#woo-invoice-stylist-style1 .footer img{
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
}
@media print {
    body {
        margin: 0;
        padding: 0;
    }
    .invoice-style .invoice-actions{
        display: none;
    }
    /* Hide the URL */
    @page {
        margin-top: 0;
    }

    /* Hide the page title */
    .title {
        display: none;
    }
    /* hide the date and time */
    .date-time {
        display: none;
    }
}
