#woo-invoice-stylist-page label{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
    #woo-invoice-stylist-page label .field-title{
        display: inline-block;
        width: 100px;
    }
    #woo-invoice-stylist-page label:where(input){
        display: block;
    }
#woo-invoice-stylist-page .woo-invoice-stylist-tab{
    min-height: 300px;
    padding: .5rem;
}
#woo-invoice-stylist-page .logo{
    width: 50px;
    height: auto;
}
#woo-invoice-stylist-page #styles{
    display: flex;
    flex-wrap: wrap;
}
#woo-invoice-stylist-page #styles .style-shot{
    flex-basis: 25%;
    text-align: center;
    height: max-content;
    padding: .5rem;
    }
    #woo-invoice-stylist-page #styles .style-shot .content{
        background-color: white;
        border-radius: 1rem;
        padding: .5rem;
    }
        #woo-invoice-stylist-page #styles .style-shot .content .style-name{
            margin: 0;
        }
        #woo-invoice-stylist-page #styles .style-shot .content img{
            display: block;
            height: 150px;
            margin: 0 auto;
        }